<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
    <script type="text/javascript" src="//use.typekit.net/vym1trm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
    {{ghost_head}}
</head>
<body class="{{body_class}}">
  <header class='main'>
    <h1><a href='/'>Adam Cooke</a></h1>
    <p class='title'>Software designer &amp; developer</p>
    <p class="social">
      <a href='http://twitter.com/adamcooke'><i class='icon-twitter'></i><span>Follow me on <b>Twitter</b></span></a>
      <a href='http://github.com/adamcooke'><i class='icon-github'></i><span>Check out my code on <b>GitHub</b></span></a>
      <a href='http://dribbble.com/adamcooke'><i class='icon-dribbble'></i><span>View some of my designs on <b>Dribbble</span></b></a>
      <a href='http://uk.linkedin.com/in/adamcooke'><i class='icon-linkedin'></i><span>Take a look at my <b>Linked In</b> profile</span></a>
      <a href='http://www.youtube.com/channel/UCCbaAVqi9Kt7Wm_dBbDYVmg/videos'><i class='icon-youtube'></i><span>Watch my videos on <b>YouTube</b></span></a>
      
    </p>
  </header>
  
  <nav class='main'>
    <div class='inner'>
      <div class='group pages'>
        <ul class='nav'>
          <li><i class='icon-blog'></i><a class='blog' href='/'>Home</a></li>
          <li><i class='icon-about'></i><a class='about' href='/me/'>About me</a></li>
          <li><i class='icon-projects'></i><a class='projects' href='/projects/'>Things I've done</a></li>
          <li><i class='icon-opensource'></i><a class='opensource' href='/opensource/'>Open source projects</a></li>
        </ul>

      </div>
      <div class='group companies'>
        <h2>My Companies</h2>
        <ul class='social'>
          <li><a href='http://atechmedia.com'><b>aTech Media</b> - software development</a></li>
          <li><a href='http://viaduct.io'><b>Viaduct</b> - coming soon</a></li>
          <li><a href='http://dial9.co.uk'><b>Dial 9 Communications</b> - VoIP</a></li>
          <li><a href='http://fusionwifi.com'><b>FusionWiFi</b> - business WiFi solutions</a></li>
        </ul>
      </div>
      
      <!---
      <div class='group elsewhere'>
        <h2>Elsewhere</h2>
        <ul class='social'>
          <li><a href='http://twitter.com/adamcooke'>Follow me on <b>Twitter</b></a></li>
          <li><a href='http://github.com/adamcooke'>Check out my code on <b>GitHub</b></a></li>
          <li><a href='http://dribbble.com/adamcooke'>View some of my designs on <b>Dribbble</b></a></li>
          <li><a href='http://uk.linkedin.com/in/adamcooke'>Take a look at my <b>Linked In</b> profile</a></li>
        </ul>
      </div>
      -->
    </div>
  </nav>
  
  <section class='content'>
    {{{body}}}
  </section>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44845543-1', 'adamcooke.io');
  ga('send', 'pageview');

</script>
  
</body>
</html>
