{{!< default}}

<section class='welcome'>
  <p>
    <b>Greetings!</b> <a href='/me/'>I'm Adam</a> and I'm a UK-based <a href='/projects/'>software developer &amp; designer</a> as well as being managing director of <a href='http://atechmedia.com'>aTech Media</a>, <a href='http://viaduct.io'>Viaduct</a> &amp; <a href='http://dial9.co.uk' class='d9'>Dial 9</a>.
  </p>
</section>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="home {{post_class}}">
        <p class="meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd Do MMMM YYYY"}}</time></p>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
