{{!< default}}
<main class="content" role="main">
  {{#post}}
  <article class="{{post_class}}">
    <header class="post-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
      <h1 class="title">{{{title}}}</h1>    
    </header>
    <section class="post-content">
        {{content}}
    </section>
  </article>
  {{/post}}
</main>
