{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
  {{#post}}
  <article class="article {{post_class}}">
    <header class="post-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
      <p class="meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='dddd Do MMMM YYYY'}}</time></p>
      <h1 class="title">{{{title}}}</h1>    
    </header>

    <section class="post-content">
        {{content}}
    </section>

  </article>
  {{/post}}

</main>
