{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
  {{#post}}
  <article class="article {{post_class}}">
    <header class="post-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
      <p class="meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='dddd Do MMMM YYYY'}}</time></p>
      <h1 class="title">{{{title}}}</h1>    
    </header>

    <section class="post-content">
        {{content}}
    </section>

  </article>
  {{/post}}
    
  <form class='subscribe' action='//adamcooke.us8.list-manage.com/subscribe/post?u=4fb7378b0cebd1b5a393500b3&amp;id=a2115b58e9' method='post'>
    <h3>Enjoy this post?</h3>
    <p class='text'>
      If you like Rails, iOS, networking or startups, why not pop your e-mail address below and I'll send you 
      all the latest news from my blog straight to your mailbox. No spam, just posts.
    </p>
    <p class='form'>
      <input type='email' name='EMAIL' placeholder='Pop your e-mail address in here...'>
      <button>Subscribe</button>
    </p>
  </form>

</main>
